.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  text-align: center;
}

.contact h1 {
  font-size: 36px;
}

.contact p {
  font-size: 18px;
}
