.social-icon {
    color: #006400;
    font-size: 2rem; 
    transition: color 0.3s;
  }
  
.social-icon:hover {
    color: #ffffff; 
}

li {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 10px;
}
  
p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: oblique;
}

p.copyright {
    font-family: 'Times New Roman', Times, serif;
}

h5 {
    font-family:'Courier New', Courier, monospace;
    padding-bottom: 20px;
}